body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
background: linear-gradient(90deg, rgba(221,200,40,0.9836309523809523) 8%, rgba(2,0,36,1) 45%, rgba(216,195,40,1) 87%);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
 
}
